{% extends 'base.html' %}


{% block main %}
<section>
    <form action="" method="POST">
        {% csrf_token %}
        <table>
            <tbody>
                {{ form }}
            </tbody>
        </table>
        <div class="actions footer">
            <div>
                <a href="{% url "users-list" %}">Cancel</a>
            </div>
            <div>
                <button class="create" type="submit">Save</button>
            </div>
        </div>
    </form>
</section>
{% endblock main %}