{% extends 'base.html' %}


{% block main %}
    <section>
        <table>
            <tbody>
                {% for obj in object_list %}
                <tr>
                    <th>Id</th>
                    <td>{{ obj.pk }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ obj.title }}</td>
                </tr>
                <tr>
                    <th>Actions</th>
                    <td>No actions</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock main %}